body{
    font-family: Arial;
    margin:0;
    background:#f4f4f4;
}


header{
    background:#222;
    color:white;
    text-align:center;
    padding:40px;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
}

section{
    padding:40px;
    max-width:900px;
    margin:auto;
}


.skill-list{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.skill{
    background:#006f45;
    color:white;
    padding:10px 20px;
    border-radius:20px;
}


.projects{
    display:flex;
    gap:20px;
}

.project-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.project-card a{
    color:#006f45;
    text-decoration:none;
}


footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:white;
}